
<html>
<head>
	<title>Show your bones</title>
		<link rel="stylesheet" type="text/css" href="/css/villains/index.css">
</head>
<body>

	<h1>  "Anyone who isn't with me opposes me, and anyone who isn't working with me is actually working against me."-Mathew 12:30 </h1>




	<% for (var i=0; i < vils.length; i++) { %>
			<div class="villain">	
					<a href="/villains/<%=vils[i]._id%>">
				 <img src=" <%= vils[i].image %> ">
					<p><%= vils[i].name %></p>   </a>	
			</div>
 <% } %>








<% include ../partials/footer %>