<% include ../partials/header %>
	<h1>Villains Index!</h1>




	<% for (var i=0; i < vils.length; i++) { %>
						<div class="villain">
							<p><%= vils[i].name %></p>
						</div>
					<% } %>


















<% include ../partials/footer %>
<!-- this is where all movies will show and you can click on that movie to go to it's show page -->