<html>
<head>
	<title>Show your Bones </title>
		<link rel="stylesheet" type="text/css" href="/css/villains/edit.css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
</head>
<body><h1>"Evil is in antagonism with the entire creation."-
Heinrich Zschokke

</h1>


						<p>Add another Villain!</p>
						<form action="/villains/" method="POST">
							<input type="text" name="name" placeholder="Name"><br>
							<input type="text" name="from" placeholder="What story is he from?"><br>
							<input type="text" name="quote" placeholder="Have a quote?"><br>
							<input type="text" name="image" placeholder="Add an image!">	<br>



							<textarea name="about" rows="8" cols="40" placeholder="Tell us more"></textarea>
							

							<input type="submit">				
						</form>


</body>
</html> 	