<html>
<head>
	<title>Show your Bones </title>
</head>
<body>

						<p>Add another Villain!</p>
						<form action="/villains/" method="POST">
							<input type="text" name="name" placeholder="Name"><br>
							<input type="text" name="from" placeholder="What story is he from?"><br>
							<input type="text" name="accomplishments" placeholder="High lights"><br>
							<input type="text" name="image" placeholder="Add an image!">	<br>



							<textarea name="about" rows="8" cols="40" placeholder="Tell us more"></textarea>
							

							<input type="submit">				
						</form>


</body>
</html> 	