<html>
<head>
	<title>Show your Bones</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
 
 <h1>Home page - index </h1>

	<main>	

				<% if (!login) { %>
					<h2>You must give us you information </h2>
			  <% } %>

				<% if (!login) { %>

					<h4>Sign up</h4>
					<form action="/users" method="POST">
						<input type="text" name="username" placeholder="username">
						<input type="text" name="email" placeholder="email">
						<input type="text" name="password" placeholder="password">
						<input type="submit">
					</form>

				<br/>
				<br/>
					<h4>Log in</h4>
					<form action="/users/login" method="POST">
						<input type="text" name="email" placeholder="username">
						<input type="text" name="password" placeholder="password">
						<input type="submit">
					</form>

				</br>
				</br>

				<% } else { %>

					<a href="/users/logout"><p>Logout</p></a>

				<% } %>

			</main>
	</div>
























<% include ./partials/footer %>