<html>
<head>
	<title>Show your Bones</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
 
 <h1> "We serial killers are your sons, your husbands, we are everywhere. And there will be more of your children dead tomorrow" -Ted Bundy</h1>

	<main>	<div id='header'>

				<% if (!login) { %>
					<h2>You must give us your information </h2>
			  <% } %>

				<% if (!login) { %>

					<h4>Sign up</h4>
					<form action="/users" method="POST">
						<input type="text" name="username" placeholder="username">
						<input type="text" name="email" placeholder="email">
						<input type="text" name="password" placeholder="password"><br/>
				<!-- 		<input type="submit"> -->
				<button>Submit</button>
					</form>

				<br/>
				<br/>
					<h4>Log in</h4>
					<form action="/users/login" method="POST">
						<input type="text" name="email" placeholder="username">
						<input type="text" name="password" placeholder="password"><br/>				<button>Submit</button>

					</form>

				</br>
				</br>

				<% } else { %>

					<a href="/users/logout"><p>Logout</p></a>

				<% } %>
				</div>
			</main>
	</div>
























<% include ./partials/footer %>