
body{
	background-color: purple;
	margin:0; 
	font-family:"Times New Roman", Times, serif;
	text-align: center;
		/*background-image: url(http://www.mywatchlinks.com/10003696_10200969659842920_5640297748387229044_o.jpg);*/
		background-image: url(http://eskipaper.com/images/scary-backgrounds-3.jpg);
	background-size: cover;
 background-position: 50% 50%;
	color:#F0F0F0;
	/*color: white;*/
}
a {
	color:#F0F0F0;

}
input{
	opacity: .8;
	margin: 1%;

}
button {
	/*background-color:#CC141C;*/
	background-image: url(https://thoughtcatalog.files.wordpress.com/2014/11/shutterstock_172928594.jpg?w=786&h=363);

}
h1{
color: #DCDCDC;
font-family: 'Special Elite', cursive;
	/*font-size: large;*/
}
