body{
	background-image:url(https://s3-eu-west-1.amazonaws.com/genial.ly/5513fdb91561e90b7099317e/slides/7971363c-357c-4bd6-8740-dbd796ac158f.jpg);
		color:white;
		font-family: 'Great Vibes', cursive;
		text-align: center;
		font-family: 'Rye', cursive;

}
h1{
	color: white;
/*font-family: 'Great Vibes', cursive;*/
font-family: 'Rye', cursive;
text-align: center;
opacity: .8;
}
a{		
	color:white;
}
input{
	margin: 3%;
}

button{
		background-image: url(https://thoughtcatalog.files.wordpress.com/2014/11/shutterstock_172928594.jpg?w=786&h=363);
}