body{
	background-image: url(http://s3.gatheringmagic.com/uploads/2011/09/07/MS_15.jpg);
	background-size: cover;
	color:#CC141C;
	/*text-align: center;*/
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.villains {
	height:25%;
	width: 25%;
	display: inline-block;
}
img {
	height:26%;
	width: 20%;
}
h1{
	text-align: center;
}
a {
	color:#CC141C;
}

