<% include ../partials/header %>

<h1>Users show </h1>
	
	<p id="user_id" style="display: none"><%= user.id %></p>

	<div id="container">
		<div id="header">
			<h1 id="title">Your movies</h1>
		</div>
		<main>
			<div id="map-canvas"></div>
			<div id="control-panel">
					<a href="/movies"><p>All movies</p></a>
					<%#<a href="/users"><p>Back to all users</p></a>%>
					<p id="users-title"><%= user.username %>'s fav guys'</p>

					<% if(usertrue)  { %>
						<p>add another movie to your collection</p>
						<form action="/users/<%= user.id %>/" method="POST">
							<input type="text" name="name" placeholder="Name">
							<input type="text" name="from" placeholder="What story is he from?">
							<input type="text" name="accomplishments" placeholder="High lights">
							<input type="text" name="about" placeholder="Tell us more">

							<input type="submit">				
						</form>
					<% } %>


					<% if(usertrue) { %> 
						<form action="/users/<%= user.id %>?_method=DELETE" method="POST">
							
							<button id="delete-button">Remove user</button>
						</form>
					<% } %>
			</div>
		</main>
	</div>



<% include ../partials/footer %>
<!-- this is the users show page where if they want they can tell their fav type of horror movie and there array of movi  es will pop up and as images and you can click on them to go to that movies show page where users users can comment on the movie and share stories and what not  -->